.tela21 {
    background-image: url('../IMG/QWS21.jpg');
    height: none;
    width: 464px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(231, 231, 231);
    font-weight: 500;
    font-size: larger;
    text-shadow: 1px 1px white, 1px 1px #333;
}

.tela77 img {
    opacity: 0.7;
    padding-right: 6px;
}

.tela212 {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.tela99 {
    padding-bottom: 12px;
}

.tela66 {
    width: 70%;
}

.tela55 {
    margin-left: 38px;
    display: flex;
    flex-direction: column;
}

.tela55 span {
    text-align: center;
    font-size: 16px;
    padding-top: 8px;
}

.tela98 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.a2 {
    font-size: 14px;
}

.a3 {
    font-size: 14px;
}

.u12 {
    display: flex;
}

.u12 {
    font-size: 13px;
    justify-content: space-between;
    padding-bottom: 16px;
}

.tela66 hr {
    color: rgb(231, 231, 231);
}

.s12 {
    font-size: 8px;
    padding-top: 12px;
}

.tela879 {
    display: flex;
    padding-bottom: 12px;
}

.tela47 {
    font-size: 16px;
}

.aa34 {
    padding-bottom: 16px;
}

.aa345 span {
    font-size: 13px;
}

.aa345 {
    padding-bottom: 12px;
}

.logomarca34 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    opacity: 0.3;
}

#controlLayoutPdf {
    background-color: #28a745;
    height: 100px;
    width: 100px;
}